.container
    .page-header
        h2.text= title
        a(href="/") 首页
        span &nbsp;|&nbsp;
        a(href="/article/list") 杂志列表
        span &nbsp;|&nbsp;
        a(href="/email/list") 邮件列表
        span.message #{message}
