extends ../layout

block content
  .container
    .row.col-xs-12
      label.index 添加杂志
      form.form-horizontal.index(method="post", action="/article/insert" enctype="multipart/form-data")
        .form-group                        
          .col-xs-6
            input.form-control(type="text" name="title" value="" placeholder="请输入主题")
          .col-xs-3
            input.form-control.hide(type="text" name="attachmentId" value=Date.now())
          .col-xs-10
            textarea.form-control(name="content" rows="10" cols="20"  placeholder="请输入邮件内容")
          .col-xs-3
            input.form-control(type="file" name="file")
          .col-xs-2
            button.btn.btn-primary(type="submit") 添加
  .container
    .row.col-xs-12
      label.index 上传客户列表
      form.form-horizontal.index(method="post", action="/email/upload" enctype="multipart/form-data")
        .form-group
          .col-xs-3
            input.form-control(type="file" name="file")
          .col-xs-2
            button.btn.btn-primary(type="submit") 上传